h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.15;
}

h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}
