<div class="dice-roll app-example chat roll" data-action="expandRoll">
    <div class="dice-flavor">{{title}}</div>
    <div>{{{description}}}</div>
</div>
<div class="dice-roll app-example chat roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-actions">
            <button class="duality-action-effect">{{localize "APP_EXAMPLE.UI.Chat.attackRoll.applyEffect"}}</button>
        </div>
    </div>
</div>