<div class="app-example chat refresh-message">
    <header>
        <div class="subtitle">{{localize "APP_EXAMPLE.UI.Chat.refreshMessage.header"}}</div>
        <div class="types">{{types}}</div>
    </header>
</div>