<aside class="yakov-dryh-sheet-shell__column yakov-dryh-sheet-shell__column--sidebar">
  <div class="yakov-dryh-sheet-shell__header-side">
    <button
      class="yakov-dryh-button yakov-dryh-button--secondary"
      type="button"
      data-yakov-dryh-action="add-pool-to-tray"
    >
      {{localize "YAKOV_DRYH.SHEETS.Actor.Character.Actions.AddPool"}}
    </button>

    {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-resource-card.hbs"
      cardClasses="yakov-dryh-resource-card--stress yakov-dryh-resource-card--exhaustion"
      cardStyle=exhaustionCardStyle
      field="exhaustion"
      isEditMode=exhaustionIsEditMode
      label=(localize "YAKOV_DRYH.SHEETS.Actor.Character.Fields.Exhaustion")
      showIconAction=true
      pips=exhaustionPips
      trackClass="yakov-dryh-pip-track--exhaustion"
    }}
  </div>

  {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-resource-card.hbs"
    field="discipline"
    isEditMode=disciplineIsEditMode
    label=(localize "YAKOV_DRYH.SHEETS.Actor.Character.Fields.Discipline")
    showIconAction=true
    pips=disciplinePips
  }}

  {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-resource-card.hbs"
    cardClasses="yakov-dryh-resource-card--stress yakov-dryh-resource-card--madness"
    cardStyle=madnessCardStyle
    field="madnessPermanent"
    isEditMode=madnessIsEditMode
    label=(localize "YAKOV_DRYH.SHEETS.Actor.Character.Fields.PermanentMadness")
    showIconAction=true
    pips=madnessPips
    trackClass="yakov-dryh-pip-track--madness"
  }}

  {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-responses-card.hbs"}}
</aside>
