<footer>
    <button type="button" data-action="doReroll" {{disabled disabledReroll}}>{{localize "APP_EXAMPLE.GENERAL.reroll"}} <i class="fa-solid fa-dice"></i></button>
    <button type="button" data-action="save" {{disabled saveDisabled}}>{{localize "APP_EXAMPLE.APPLICATIONS.RerollDialog.acceptCurrentRolls"}}</button>
</footer>