<footer>
    <button type="button" data-action="submitBeastform" {{#if (not canSubmit)}}disabled{{/if}}>
        <span>{{localize "APP_EXAMPLE.ITEMS.Beastform.transform"}}</span>
    </button>
</footer>