<section class="yakov-dryh-sheet-shell">
  <div class="yakov-dryh-sheet-shell__columns mt12">
    {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-story-column.hbs"}}
    {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-sidebar.hbs"}}
  </div>
</section>
