<section class="yakov-dryh-sheet-shell">
  <header class="yakov-dryh-header yakov-dryh-header--sheet">
    <div>
      <h2>{{actorName}}</h2>
    </div>
  </header>

  <div class="yakov-dryh-sheet-shell__columns">
    {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-story-column.hbs"}}
    {{> "systems/yakov-dryh/templates/sheets/parts/character-sheet-sidebar.hbs"}}
  </div>
</section>
